<!DOCTYPE html>
<html lang="en">
	{{> head.html}}
	<body>
		{{> top_part.html}}
		<h2>General Help</h2>
		<p>
			The map has three kinds of controls. In the top right corner is the map layer selector, with which you
			can visualize regions of different granularity. In the top left is the zoom reset button. Click that if
			you zoom in too much. The colored regions on the map can also be clicked. Click them to see interesting
			details next to the map. You can see which numbers the colors correspond to on the bottom left. 
		</p>
		<P>
			All the numbers you see are normalized so that they mean "per 1,000 people". For example, if you see
			red on the map, and the legend says "> 260", that means there have been over 260 crimes committed per
			1,000 people in that region. The darker the color, the more crime has been committed. 
		</P>
		<p>
			The plot right next to the map shows different kinds of crime committed in the selected area. It responds to
			clicking the regions on the map. It is also normalized just like the numbers on the map, that is, per 1,000
			people. 
		</p>
	</body>
</html>